{{!-- The header of the theme --}}
<header id="masthead" class="site-header outer">
	<div class="site-header-inside">
		<div class="site-branding">
			{{#if @site.logo}}
			<p class="site-logo"><a href="{{@site.url}}"><img src="{{img_url @site.logo size="xs"}}" alt="{{@site.title}}" /></a></p>
			{{/if}}
			{{#is "index"}}
			{{!--<h1 class="site-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>--}}
			{{else}}
			{{!--<p class="site-title"><a href="{{@site.url}}">{{@site.title}}</a></p>--}}
			{{/is}}
		</div><!-- .site-branding -->
		<nav id="main-navigation" class="site-navigation" aria-label="Primary Navigation">
			{{navigation}}
			<button id="sidebar-show" class="sidebar-toggle"><span class="screen-reader-text">{{t "Open Sidebar"}}</span><span class="icon-more" aria-hidden="true"></span></button>
		</nav><!-- .site-navigation -->
	</div><!-- .site-header-inside -->
</header><!-- .site-header -->
